.page {
    width: 100%;
    border: 1px solid black;
    height: 100vh;
    background-image: url('./img/volleyball-p1.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.topHeader {
    background-color: #ffe4b2;
    border-bottom: 2px solid whitesmoke;
    box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

.leftSide {
    width: 80%;
    height: 100vh;
    z-index: 2;
    border: 5px solid burlywood;
    background-color: #ffedcc;
    opacity: 0.95;
    border-radius: 50px;
}

.rightSide {
    text-align: center;
    width: 20%;
    height: 100vh;
    background-color: #ffedcc;
    z-index: 2;
    opacity: 0.95;
    border-radius: 50px;
    border: 3px solid burlywood;
    padding-top: 20px !important;
}

.marginedTop {
    margin-top: 30px;
}


.grid-container {
    width: 100%;
    height: 100vh !important;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}



.field {
    background-image: url("./img/volleyball-half-field.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1 !important;
    border-radius: 10px;
    border: 3px solid whitesmoke;

    display: grid;
    height: 100%;
    grid-template-rows: 15% 25% 10% 25% 25%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* grid-row-gap: 10px; */
}

.first-player {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center !important;
}

.second-player {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center !important;
}

.third-player {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center !important;
}

.fourth-player {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center !important;
}

.fifth-player {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center !important;
}

.sixth-player {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center !important;
    vertical-align: middle !important;
}

.container-div {
    width: 100% !important;
    text-align: center !important;
    padding: 1% !important;
}

.noPaddingTop {
    padding-top: 0% !important;
}

.lowPadding {
    padding: 3.5% !important;
}

.alignCenter {
    text-align: center;
    vertical-align: middle;
}
.alignLeft {
    text-align: left;
    vertical-align: bottom !important;
    justify-content: left !important;
    display: inline-block ;
}
.alignRight {
    text-align: right;
    vertical-align: bottom !important;
    display: inline-block ;
    justify-content: right !important;

}
.firstRow{
    vertical-align: bottom !important;
}

.verticalAlign {
    vertical-align: middle !important;
    text-align: center !important;
}

.modifiedSelect {
    padding: 5px;
    border-radius: 5px !important;
    vertical-align: middle !important;

}

#medalja {
    border-radius: 50%;
    height: 60px;
    margin-left: 10px;
}

.style {
    display: inline-block;
}

#izmenaSelect {
    padding: 6px;
    border-radius: 5px;

}

#godina {
    width: 100px;
}

#dugme {
    opacity: 1 !important;
}

.izmeniDugme {
    padding: 1px !important;
}

.centered {
    text-align: center !important;
}

#igrac_select {
    width: 180px !important;
}
#sacuvaj{
    
    display: block;
    float: right;;
    margin-top: 390px;
}
